<%= provide(:title, 'Sign up') %>

<h1>Sign up</h1>

<%= form_for @user do |f| %> 
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <p><%= f.submit 'Create' %></p>
  
<% end %>

<p><%= link_to "Already registered? Log in now", login_path %></p>
